.header__nav {
  width: 100%;
  background-image: url(../assets/background.webp);
  background-size: cover; }
  .header__nav__ul li {
    display: inline-block;
    padding: 40px; }
  .header__nav__ul-hov {
    background: linear-gradient(to right, #000808, #9aa5a5), linear-gradient(to right, red, #f1880f, #eeff07);
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: 400ms; }
    .header__nav__ul-hov:hover {
      background-size: 0 3px, 100% 3px; }

.btn__pedir {
  position: fixed;
  width: 120px;
  height: 35px;
  border-radius: 80px 0px 0px 90px;
  bottom: 20px;
  right: 0px;
  background-color: #ffd106;
  color: black;
  font-family: "Anton", sans-serif;
  text-align: center;
  font-size: 22px;
  z-index: 100; }

body {
  background-image: url(../assets/background.webp);
  background-size: contain; }

.main__section__img-1 {
  width: 100%; }

.main__section__box {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  padding: 20px; }
  .main__section__box__card {
    background-color: #ffd106;
    width: 300px;
    height: 300px;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }
    .main__section__box__card h2 {
      color: white; }
    .main__section__box__card h5 {
      color: white; }
    .main__section__box__card-left {
      padding: 50px; }

.footer {
  background: black;
  background: linear-gradient(0deg, black 0%, #5e5d5b 0%, #050300 100%);
  padding: 50px;
  color: white; }
  .footer li {
    padding: 15px;
    list-style: none; }
  .footer ul {
    display: flex;
    flex-direction: column; }
  .footer a {
    text-decoration: none;
    color: white; }
  .footer__box {
    max-width: 300px; }
    .footer__box-img {
      width: 180px;
      height: 160px; }
  .footer .link-facebook {
    color: #3b5998; }
  .footer .link-instagram {
    color: #bd1075; }
  .footer .link-twitter {
    color: #00acee; }
